.side_filters {

    @media (max-width: 600px) {
        margin-bottom: 32px;
    }

    &__list {
        margin: 0;
        padding: 0;
        list-style: none;

        &__filter {
            margin-bottom: 24px;

            &:last-child {
                border-bottom: 1px solid #353945;
                padding-bottom: 24px;
            }
        }
    }

    &__reset {
        margin-top: 24px;
        display: flex;
        align-items: center;
        cursor: pointer;

        img {
            margin-right: 8px;
        }

        p {
            font-family: 'DM Sans', sans-serif;
            font-weight: 700;
            font-size: 14px;
            color: #F4F5F6;
            margin: 0;
        }
    }
}