.listing {
    padding-top: 100px;
    margin-top: 28px;
    margin-bottom: 110px;

    @media (min-width: 600px) {
        margin-top: 150px;
        min-height: 1000px;
    }

    &__search {

        display: none;

        @media (min-width: 600px) {
            display: block;
        }

        width: 100%;
        margin-bottom: 100px;

        &__title {
            display: flex;
            justify-content: space-between;

            h3 {
                margin-top: 0;
                font-size: 24px;
                font-family: 'Poppins', sans-serif;
                color: #E6E8EC;
            }

        }

        input {
            width: 100%;
            background-color: #141416;
            font-size: 16px;
            color: #E6E8EC;
            height: 30px;
            border-bottom: 1px solid #353945;
            border-top: none;
            border-left: none;
            border-right: none;
            font-family: 'Poppins', sans-serif;
        }
    }

    &__search__mobile {

        margin-bottom: 24px;
        position: relative;

        @media (min-width: 600px) {
            display: none;
        }

        input {
            width: calc(100% - 28px);
            height: 40px;
            background-color: #141416;
            font-size: 14px;
            color: #E6E8EC;
            border: 2px solid #353945;
            border-radius: 12px;
            font-family: 'Poppins', sans-serif;
            padding: 8px 8px 8px 16px;

            &::placeholder {
                font-size: 14px;
                color: #E6E8EC;
                font-family: 'Poppins', sans-serif;
            }
        }

        img {
            position: absolute;
            top: 20px;
            right: 18px;
        }
    }

    &__top {

        margin-bottom: 32px;
        
        @media (min-width: 600px) {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 110px;
        }
    }

    &__main {

        @media (min-width: 600px) {
            display: flex;
        }

        &__filters {
            width: 100%;

            @media (min-width: 1025px) {
                width: 256px;
            }

            @media (min-width: 601px) and (max-width: 1024px) {
                width: 200px;
            }
        }

        &__cards_container {
            
            &__more {
                display: flex;
                justify-content: center;

                @media (min-width: 600px) {
                    margin-left: 32px;
                }

                button {
                    display: flex;
                    align-items: center;
    
                    img {
                        margin-right: 12px;
                    }
                }
            }
        }

        &__no_results {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
    
            h3 {
                font-family: "DM Sans", sans-serif;
                color: #FCFCFD;
                font-size: 40px;
                margin: 0;
                text-align: center;
            }
        }
    }
}