.footer {

    padding-top: 64px;
    padding-bottom: 48px;
    background-color: #23262F;

    @media (min-width: 600px) {
        padding-top: 86px;
        padding-bottom: 32px;
        border-top: 1px solid #353945;
        background-color: unset;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__content {

        padding: 0 0 48px 32px;
        border-bottom: 1px solid #353945;

        @media (min-width: 600px) {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-bottom: 54px;
            padding-left: 0;
            padding-right: 0;
            margin: 0 32px;
            width: calc(100% - 64px);
            max-width: unset;
        }

        @media (min-width: 1160px) {
            width: 1120px;
        }

        &__title {
            margin-top: 32px;
            margin-bottom: 0;
            font-size: 16px;
            font-weight: 400;
            max-width: 192px;
            color: #E6E8EC;
            font-family: 'Poppins', sans-serif;

            @media (min-width: 600px) {
                margin-top: 20px;
                font-size: 24px;
                font-weight: 700;
                max-width: unset;
            }
        }
    }

    &__signature {
        margin-top: 10px;

        p {
            color: #777E91;
            font-size: 12px;
            font-family: 'Poppins', sans-serif;
            margin: 0;
        }

        @media (max-width: 600px) {
            margin-top: 24px;
            text-align: center;
            padding: 0 32px;
        }
    }

}